<%= javascript_include_tag "concerto_aeropuerto/application" %>
<%= stylesheet_link_tag "concerto_aeropuerto/application" %>

<fieldset>
  <legend><span>Airport info for Aeropuertos Argentina 2000</span></legend>
  <div class="row-fluid">
    <div class='span4'>
    <%= form.fields_for :config do |config| %>
      <div class="clearfix">
        <%= config.label :airport, "Airport" %>
        <div class="input">
          <%= config.select :airport, Aeropuerto::AIRPORTS.map {|k,v| [v, k]}, :selected => @content.config['airport'] %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :info_type, "Flight Information Type" %>
        <div class="input">
          <%= config.select :info_type, Aeropuerto::INFO_TYPES.map {|k,v| [v, k]}, :selected => @content.config['info_type'] %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :language, "Display Language" %>
        <div class="input">
          <%= config.select :language, Aeropuerto::LANGUAGES.map {|k,v| [v, k]}, :selected => @content.config['language'] %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</fieldset>
